#move_reparent .inside {
    padding:0;
    margin:0;
    background:#fff;
}

#move_reparent .spacer {
    display:inline-block;
    margin-left:8px;
    margin-right:8px;
}

.wptc-in-dropzone {
    opacity:0.5;
}

.wptc-drop-over {
    background:rgba(33, 117, 155, 0.1) !important;
}
.wptc-inspected .check-column{
    background:#859900 !important;
}

.wptc-inspected .depth-2,
.wptc-inspected-thread .depth-2 {
    border-left-color:#f3f5e6;
    border-left-color:rgba(133, 153, 0, 0.1);
}

.wptc-inspected .depth-3,
.wptc-inspected-thread .depth-3 {
    border-left-color:#e6eacc;
    border-left-color:rgba(133, 153, 0, 0.2);
}

.wptc-inspected .depth-4,
.wptc-inspected-thread .depth-4 {
    border-left-color:#dae0b3;
    border-left-color:rgba(133, 153, 0, 0.3);
}

.wptc-inspected .depth-5,
.wptc-inspected-thread .depth-5 {
    border-left-color:#ced699;
    border-left-color:rgba(133, 153, 0, 0.4);
}

.wptc-inspected .depth-6,
.wptc-inspected-thread .depth-6 {
    border-left-color:#c2cc80;
    border-left-color:rgba(133, 153, 0, 0.5);
}

.wptc-inspected .depth-7,
.wptc-inspected-thread .depth-7 {
    border-left-color:#b5c166;
    border-left-color:rgba(133, 153, 0, 0.6);
}

.wptc-inspected .depth-8,
.wptc-inspected-thread .depth-8 {
    border-left-color:#a9b74c;
    border-left-color:rgba(133, 153, 0, 0.7);
}

.wptc-inspected .depth-9,
.wptc-inspected-thread .depth-9 {
    border-left-color:#9dad33;
    border-left-color:rgba(133, 153, 0, 0.8);
}

.wptc-inspected .depth-10,
.wptc-inspected-thread .depth-10 {
    border-left-color:#90a319;
    border-left-color:rgba(133, 153, 0, 0.9);
}

.wptc-dragged {
    opacity:0.5;
}

#wptc-dropzone {
    min-height:80px;
    display:none;
    border-width:1px;
    border-style:solid;
    border-color:#dfdfdf;
    clear:both;
    border-radius:3px;
}

#wptc-dropzone .wptc-dropzone-header {
    background: #E9E9E9;
    background-image: -ms-linear-gradient(top,#F4F4F4,#E9E9E9);
    background-image: -moz-linear-gradient(top,#F4F4F4,#E9E9E9);
    background-image: -o-linear-gradient(top,#F4F4F4,#E9E9E9);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#E9E9E9));
    background-image: -webkit-linear-gradient(top,#F4F4F4,#E9E9E9);
    background-image: linear-gradient(top,#F4F4F4,#E9E9E9);
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom:1px #dfdfdf solid !important;
    border-top:1px #fff solid;
    font-size:14px;
    line-height:1.3em;
    text-shadow:rgba(255, 255, 255, 255, 0.8) 0 1px 0;
    padding:8px;
    margin-bottom:0;
}
#wptc-dropzone .wptc-dropzone-title {
    text-align:center;
}
#wptc-dropzone .wptc-history-actions {
    float:right;
}

.wptc-special-drop td {
    vertical-align:middle !important;
    height:40px;
    color:#777;
}

#wptc-history-undo {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#wptc-history-redo {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#wptc-dropzone span {
    display:inline-block;
}
#wptc-dropzone li {
    border-bottom:1px #dfdfdf solid;
    padding:4px 8px;
    overflow:hidden;
}
#wptc-dropzone li:last-child {
    border-style:none;
}
#wptc-dropzone .comment-cb {
    width:20px;
    text-align:center;
    margin-right:8px;
}

#wptc-dropzone .comment-author {
    width:20%;
}
#wptc-dropzone .comment-text {
    overflow:hidden;
}
#wptc-dropzone .comment-time {
    width: 130px;
    float:right;
}

.tc-tmpl {
    display:none;
}

.wptc-in-dropzone, .wptc-dragged {
    opacity: 0.5;
}

.draggable .check-column {
    background:url("grab-bg.png");
    cursor:move;
}

.draggable {
background:white;
}
table .checkbox-column {
    position:relative;
}
#move-to {
    width:55%;
}
#major-actions {
    padding:12px;
}

.wptc-history-notifications {
    background:#FFFBCC;
    display:none;
    border-top:none;
    color:#555;
}

.depth-indicator {
    display:inline-block;
    border-left-style:solid;
    height:100%;
}

.depth-padding {
    padding-left:10px;
}

.depth-1 .depth-padding {
    padding-left:0;
}

.depth-1 {

}
.depth-2 {
    border-left-color:#eee;
    border-left-width:10px;
}
.depth-3 {
    border-left-color:#ddd;
    border-left-width:20px;
}
.depth-4 {
    border-left-color:#ccc;
    border-left-width:30px;
}
.depth-5 {
    border-left-color:#bbb;
    border-left-width:40px;
}
.depth-6 {
    border-left-color:#aaa;
    border-left-width:50px;
}
.depth-7 {
    border-left-color:#999;
    border-left-width:60px;
}
.depth-8 {
    border-left-color:#888;
    border-left-width:70px;
}
.depth-9 {
    border-left-color:#777;
    border-left-width:80px;
}
.depth-10 {
    border-left-color:#666;
    border-left-width:90px;
}
